[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mvcvalli
	email = 102649685+Mvcvalli@users.noreply.github.com
[core]
  editor = nvim
