[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mason/update]
row=4
col=0

[/home/mason/xfce-dev-tools-install]
row=5
col=0

[/home/mason/personal]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/mason]
row=2
col=0

